<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winner winner</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size:1.3rem; color: white; background-color: #0F273E">
      
    <header>
        <h1>Welcome to the special giveaway</h1>
        <p>
            Enter the Tweet you want to pick the winner from:
        </p>
    </header>
    <main>
        <form action="/howdy" method="post">
                Tweet: <input type="text" name="tweet">  <br />
                Number of winners to be picked: <input type="text" name="winners">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        
        <br>
    </main>
<p style="font-family: 'Poppins', sans-serif; font-weight: bold; line-height: 2rem; font-size:1.3rem; color: white; text-align: center; padding: 15px; background-color: #1B2731">Website : kubesimplify.com<br>Twitter : @saiyampathak<br>Navigate : civo.com/navigate<br>I am : Saiyam Pathak
</p>
</body>
